.ResultPage {
  .main-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;

    a {
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        color: #00ff00;
      }
    }
  }

  .back {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #009000;
    border-radius: 15px;
    color: white;
    padding: 6px 6px 6px 8px;
    margin: 10px 12px 3px;
    width: 80px;

    a {
      text-decoration: none;
      &:visited {
        color: white;
      }
      &:hover {
        color: white;
      }
    }
  }
}
