.SocialContent {
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #009000;
    text-align: center;
  }
  .please {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
}
