.Detail {
  margin-left: 10%;
  margin-top: 3%;
  .d1 {
    .number1 {
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result1 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;
      .최상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .중 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .하 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .없음 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bold1 {
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .amore {
        float: right;
        font-size: 12px;
        color: #009000;
        border: 0;
        background-color: white;
      }
    }
  }
  .d2 {
    .number2 {
      margin-top: 2%;
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result2 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;

      .최상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .중 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .하 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .없음 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bold2 {
        //color: #009000;
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .bmore {
        float: right;
        font-size: 12px;
        color: #009000;
      }
    }
  }
  .d3 {
    .number3 {
      margin-top: 2%;
      border-radius: 50%;
      background-color: #b2e7b2;
      width: 55px;
      height: 55px;
      text-align: center;
      font-size: 40px;
      color: #009000;
      font-family: Arial, Helvetica, sans-serif;
    }
    .result3 {
      padding: 2%;
      border: 2px solid #009000;
      border-radius: 15px;
      font-size: 13px;
      margin-right: 10%;
      line-height: 200%;

      .최상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .상 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .중 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .하 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .없음 {
        font-weight: bold;
        color: #009000;
        font-family: Arial, Helvetica, sans-serif;
      }
      .bold3 {
        font-weight: 500;
        font-size: small;
        border: 0px;
        background-color: #b2e7b2b6;
        border-radius: 8px;
        padding: 1.2mm;
        font-family: Arial, Helvetica, sans-serif;
      }

      .cmore {
        float: right;
        font-size: 12px;
        color: #009000;
      }
    }
  }
}
