.Evaluation {
  border: 0px;
  background-color: #b2e7b2;
  border-radius: 15px;
  padding: 1%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 10%;

  .likes {
    padding-right: 3%;
  }
}
