.SocialContent {
  .title {
    font-size: 20px;
    font-weight: bold;
    color: #009000;
    text-align: center;
  }
  .description {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
  }
  .share {
    text-align: center;
    margin: 1%;
  }
}
